@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* light theme */
    --background:  0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --border:     210 16% 82%;
    --input:      210 16% 95%;
    --ring:       215 20% 65%;
    --radius:     0.5rem;
  }
  
  [data-theme="dark"] {
    /* dark theme overrides */
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 16% 82%;
    --border:     210 16% 20%;
    --input:      210 16% 15%;
    --ring:       215 20% 45%;
  }